*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36454F;
}

section {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.progress-container {
    width: 60%;
    margin: 0 auto;
    background-color: #99DDFF;
    padding: 10px;
    border-radius: 3px;
    position: relative;
}

.empty-bar {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    background-color: #3FD2C7;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.empty-bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #3FD2C7 0%, #3FD2C7 25%, transparent 100%);
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.filled-bar {
    width: 100%;
    height: 10px;
    background-color: #00458B;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    background-color: #00458B;
    color: #3FD2C7;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    border-radius: 3px;
}

.skill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    font-family: cursive;
}

.val {
    float: right;
}

@media screen and (max-width: 600px) {
    .progress-container {
        width: 90%;
    }
}
