*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #40C560;
    background-color: #165390;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

header {
    padding: 30px 0;
    font-size: 1.3rem;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    padding: 10px;
    color: #40C560;
}

.navbar a:hover {
    background-color: #F4F6F8;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
        border-radius: 5px;
    }

    .navbar a {
        background-color: #FD6585;
        color: #F4F6F8;
        margin: 10px 0;
        text-align: center;
        border-radius: 5px;
    }

    .navbar a:hover {
        background-color: #40C560;
    }
}
