*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.intro {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: url(img/home-img.jpg) no-repeat center;
    background-size: cover;
}

.glass {
    width: 250px;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.intro__text {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2em 1em;
    color: #50C878;
}
