body {
    margin: 0;
    color: #424874;
    background: #DCD6F7;
}

@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

h1 {
    font-size: 3rem;
    font-family: Corleone;
    text-align: center;
}