*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #424874;
    background: #DCD6F7;
}

@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

h1 {
    font-size: 3rem;
    font-family: Corleone;
    text-align: center;
    padding: 1rem 0.5rem;
}
