*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background: #E6E6FA;
}

section {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

table {
    border: 0.15rem solid #36454F;
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    border: 0.15rem solid #36454F;
    padding: 0.5rem;
    text-align: center;
}

th {
    color: #36454F;
    background-color: #7DF9FF;
    height: 30px;
    vertical-align: middle;
}

tr:nth-child(even) {
    color: #36454F;
    background-color: #E6E6FA;
}

tr:nth-child(odd) {
    color: #36454F;
    background-color: #90EE90;
}

tr:hover {
    color: #36454F;
    background-color: #7DF9FF;
}

@media (max-width: 768px) {
    table {
        width: 80%;
    }

    th,
    td {
        font-size: 0.9em;
    }
}
